<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="css/jcx.css" />
		<link rel="stylesheet" type="text/css" href="css/mui.picker.css" />
		<link rel="stylesheet" type="text/css" href="css/mui.poppicker.css" />
	</head>

	<body>

		<div id="app">

			<div class="mui-views">
				<div class="header hdA">
					<div class="header-A1 clearfix">
						<a class="head-box head-back head-backA fl mui-action-back"></a>
						<div class="header-h1"></div>
					</div>
				</div>
				<div class="mui-views" style="height: auto;top: 44px;">
					<div class="mui-views-r">

						<div class="pad-10">
							<div class="mar-b-10 actionA">
								<div class="ck-bar">
									<div class="ck-dm-h1 rt">家庭成员&nbsp;&nbsp;&nbsp;
										<div class="span">{{huji_ry}} 名</div>
									</div>
								</div>
								<div class="ck-ap">
									<div class="ck-ap-p" v-for="li in huji_renyuan">&nbsp;&nbsp;&nbsp;{{li.xingming}}</div>
								</div>
							</div>
							<div class="ck-bar mar-b-10">
								<div class="ck-dm-h1">家庭概况&nbsp;&nbsp;&nbsp;
									<div class="span">{{huji.hujileixing}}</div>
								</div>
							</div>

							<div class="mar-b-10 actionB">
								<div class="ck-bar">
									<div class="ck-dm-h1 rt">上次走访记录</div>
								</div>
								<div class="pad-10 ck-bpA">
									<div class="ck-bp-h1 mar-b-5">入户走访情况</div>
									<div class="ck-bp-h2">{{sc_zf.zoufangqingkuang}}</div>
								</div>
								<div class="pad-10 ck-bpA">
									<div class="ck-bp-h1 mar-b-5">存在问题情况</div>
									<div class="ck-bp-h2">{{sc_zf.cunzaidewenti}}</div>
								</div>
							</div>

							<div class="mar-b-10">
								<div class="pad-10 ck-bar">
									<div class="ck-bp-h1 mar-b-10">入户走访情况</div>
									<textarea class="ck-bp-area" id="zoufangqingkuang" name="zoufangqingkuang">{{info.zoufangqingkuang}}</textarea>
								</div>
							</div>

							<div class="mar-b-10">
								<div class="pad-10 ck-bar">
									<div class="ck-bp-h1 mar-b-10">存在问题情况</div>
									<textarea class="ck-bp-area" id="cunzaidewenti" name="cunzaidewenti">{{info.cunzaidewenti}}</textarea>
								</div>
							</div>

							<div class="renyuan-bar">
								<p class="c-333">
									<div class="fr upimg_btn" onclick="return imgupgrade()">上传</div>图片（最多8张）</p>
								<div class="upimg-bar upimg-barA pad-t-10 clearfix">

								</div>
								<div class="upimg-bar upimg-barB pad-t-10 clearfix">
									<div class="upimg-li" onclick="return tx_ck()">
										<div class="TU_A1 pad-b-100" style="background-image: url(images/up_img.png);"></div>
									</div>
								</div>
								<input type="hidden" id="fangwutupian" name="zutu" :value="info.zutu" />
								<input type="hidden" id="fangwutupian_" name="zutu_" :value="info.zutu" />
							</div>
							<br />
							<div class="ck-bar mar-b-10">
								<input type="text" class="ck-bp-input" placeholder="入户人员" id="ruhurenyuan" name="ruhurenyuan" readonly="readonly" :value="user_txt" />
							</div>
							<br />
							<input type="hidden" id="zutu" name="zutu" />
							<input type="hidden" id="status" name="status" value="终审" />
							<input type="hidden" id="huhao" name="huhao" />
							<input type="hidden" id="bianhao" name="bianhao" />
							<input type="hidden" id="huzhuxingming" name="huzhuxingming" />
							<input type="hidden" id="jiluren" name="jiluren" />
							<div class="btn-ys1" onclick="return zf_add()" style="display: none;">提交</div>
							<div class="btn-ys2" style="display: none;">提交</div>
						</div>

					</div>
				</div>
			</div>

			<div class="mui-poppicker">
				<div class="mui-poppicker-header"> <button class="mui-btn mui-poppicker-btn-cancel">取消</button> <button class="mui-btn mui-btn-blue mui-poppicker-btn-ok">确定</button>
					<div class="mui-poppicker-clear"></div>
				</div>
				<div class="mui-poppicker-body">
					<div class="mui-picker" style="width: 100%;background: #fff;text-align: center;">
						<div class="table">
							<div class="table-cell ryhurenyuan_list">
								<div class="btn-zu mar-5" onclick="return bianhao(this)" v-for="li in user" :data-id="li.id" :data-yhm="li.yonghuming">{{li.xingming}}</div>
							</div>
						</div>

						<!--<div class="mui-picker-inner"></div>-->
					</div>
				</div>
			</div>

		</div>

		<div id="picture" class="mui-popover mui-popover-action mui-popover-bottom">
			<ul class="mui-table-view li_nn">
				<li class="mui-table-view-cell li_nn">
					<a onclick="txA()">拍照上传</a>
				</li>
				<li class="mui-table-view-cell li_nn">
					<a onclick="txB()">从相册选取</a>
				</li>
			</ul>
			<ul class="mui-table-view li_nn">
				<li class="mui-table-view-cell li_nn">
					<a onclick="return tx_ck()"><b>取消</b></a>
				</li>
			</ul>
		</div>

		<div id="outimg" style="width: 100%;height: 100%;position: fixed;z-index: 9999;background: rgba(0,0,0,0.6);display: none;">
			<div style="width: 100%;height: 100%;position: relative;">
				<!-- Swiper -->
				<div class="swiper-container">
					<div class="swiper-wrapper">

					</div>
					<!-- Add Pagination -->
					<div class="swiper-pagination" style="bottom: 0px;font-size: 17px;line-height: 44px;color: #fff;"></div>
					<!--Add close-->
					<img class="close-img" src="images/close.png" />
				</div>
			</div>
		</div>

		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery-1.11.2.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/uploadimage/binaryajax.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/uploadimage/exif.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/uploadimage/canvasResize.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/uploadimage/demoa.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jcx.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var webview_detailA = null;
			var webview_detailB = null;
			var webview_detailC = null;
			var webview_detailD = null;
			var webview_detailE = null;
			var webview_detailF = null;
			document.addEventListener('plusready', function() {
				//console.log("所有plus api都应该在此事件发生后调用，否则会出现plus is undefined。"
			});
			mui.init({
				swipeBack: true
			});
			mui.plusReady(function() {
//				plus.nativeUI.closeWaiting();
//				mui.currentWebview.show();

			getData(true, 'get', web_url() + '/?type=search&t=zoufangjilu&id=' + localStorage.user_zf_add_sc_id, '', function(result) {
				//走访记录info
				app.info = JSON.parse(result.msg)[0];
				//修改判断
				if(localStorage.yonghuming == app.info.yonghuming) {
					$('.btn-ys1').show();
				}
				zutu(app.info.zutu);
				//入户人员info
				getData(true, 'get', web_url() + '/?type=search&t=user&sqlvalue=id in(' + app.info.bianhao.replace(/,/g, "dh") + ')', '', function(result) {
					ruhu_man(JSON.parse(result.msg));
				});
			});
			//户籍
			getData(true, 'get', web_url() + '/?type=search&t=huji&huhao=' + localStorage.user_zf_add_sc_huhao, '', function(result) {
				app.huji = JSON.parse(result.msg)[0];
				$('.header-h1').text(JSON.parse(result.msg)[0].allxingming + '家走访记录');
				document.getElementById("huzhuxingming").value = JSON.parse(result.msg)[0].huzhuxingming;
			});
			//户籍人员
			getData(true, 'get', web_url() + '/?type=search&t=renyuan&hukoubianhao=' + localStorage.user_zf_add_sc_huhao, '', function(result) {
				app.huji_renyuan = JSON.parse(result.msg);
				app.huji_ry = app.huji_renyuan.length;
			});
			//上次走访
			getData(true, 'get', web_url() + '/?type=search&t=zoufangjilu&ordertype=dtime&orderby=desc&number=1&page=1&huhao=' + localStorage.user_zf_add_sc_huhao + '&sqlvalue=id<' + localStorage.user_zf_add_sc_id, '', function(result) {
				if(result.msg == '[]') {

				} else {
					app.sc_zf = JSON.parse(result.msg)[0];
				}
			});
			
			
			
				webview_detailA = plus.webview.getWebviewById(home_id());
				webview_detailB = plus.webview.getWebviewById('user_zf_history.html');
				webview_detailC = plus.webview.getWebviewById('user_zf_jinri.html');
				webview_detailD = plus.webview.getWebviewById('user_zf_today.html');
				webview_detailE = plus.webview.getWebviewById('user_zf_wei.html');
				webview_detailF = plus.webview.getWebviewById('user_zf_zuijin.html');
			});
		</script>

		<script type="text/javascript">
			function tx_ck() {
				mui('#picture').popover('toggle');
			}

			function txA() {
				cameraimages(8);
				tx_ck();
			}

			function txB() {
				galleryImgs(8);
				tx_ck();
			}
			document.getElementById("jiluren").value = JSON.parse(localStorage.ubase).msg[0].xingming;
			document.getElementById("huhao").value = localStorage.user_zf_add_sc_huhao;
			var app = new Vue({
				el: '#app',
				data: {
					user: [],
					info: {},
					user_txt: '',
					user_bh: '',
					huji: {},
					huji_renyuan: [],
					huji_ry: 0,
					sc_zf: {},
				}
			});


			function zutu(str) {
				
				if(str != '' && str != null) {
					var imglist = str.replace(/{title}/g, "");
					var imglist = imglist.split('{next}');
					$('#fangwutupian_').data('num', imglist.length);
					if(imglist.length < 3) {
						$('.upimg-barB').show();
					} else {
						$('.upimg-barB').hide();
					}
					for(i = 0; i < imglist.length; i++) {
						$('.upimg-barA').append('<div class=\"upimg-li\"><div class=\"upimg-li-close\" onclick=\"return close_imgB(this)\"></div><div onclick=\"return out_img(this)\" class=\"TU_A1 pad-b-100\" style=\"background-image: url(' + web_url() + '/' + imglist[i] + ');\"></div></div>');
						//console.log(web_url()+'/'+imglist[i]);
					}
				} else {
					$('.upimg-barB').show();
				}
			}

			function close_imgB(obj) {
				var str = document.getElementById("fangwutupian_").value;
				var imglist = str.replace(/{title}/g, "");
				var imglist = imglist.split('{next}');
				var index = $(obj).parent('.upimg-li').index();
				imglist.splice(index, 1);
				if(imglist.length < 3) {
					$('.upimg-barB').show();
				} else {
					$('.upimg-barB').hide();
				}
				var newimg = dd(imglist);
				document.getElementById("fangwutupian_").value = newimg;
				document.getElementById("fangwutupian").value = newimg;
				$(obj).parent('.upimg-li').remove();
			}

			function dd(imglist) {
				var end_str = '';
				for(var i = 0; i < imglist.length; i++) {
					if(end_str == '') {
						end_str = imglist[i] + '{title}';
					} else {
						end_str = end_str + '{next}' + imglist[i] + '{title}'
					}
				}
				console.log(end_str);
				return end_str;
			}

			function ruhu_man(data) {
				var ruhurenyuan_txt = '';
				var bianhao_txt = '';
				for(var i = 0; i < data.length; i++) {
					if(ruhurenyuan_txt == '') {
						ruhurenyuan_txt = data[i].xingming;
					} else {
						ruhurenyuan_txt = ruhurenyuan_txt + ',' + data[i].xingming;
					}
					if(bianhao_txt == '') {
						bianhao_txt = data[i].id;
					} else {
						bianhao_txt = bianhao_txt + ',' + data[i].id;
					}
				}
				app.user_txt = ruhurenyuan_txt;
				app.user_bh = bianhao_txt;
				//入户人员
				getData(true, 'get', web_url() + '/?type=search&t=user&number=100&page=1' + rizi() + '&suoshucun=' + JSON.parse(localStorage.ubase).msg[0].suoshucun, '', function(result) {
					app.user = JSON.parse(result.msg);
					app.$nextTick(function() {
						yno_on(app.user, app.user_bh);
					});
				});
			}

			//入户人员已选择中效果
			function yno_on(data, str) {
				for(var i = 0; i < data.length; i++) {
					var bh = data[i].id;
					var zu = str.split(',');
					for(var j = 0; j < zu.length; j++) {
						//console.log(zu[j]);
						if(bh == zu[j]) {
							$('.ryhurenyuan_list .btn-zu').eq(i).addClass('blue');
						}
					}
				}
			}
			
			//入户人员编号
			var ruhurenyuan_txt = '';
			var bianhao_txt = '';

			function bianhao(obj) {
				$(obj).toggleClass('blue');
				bianhao_bx();
			}

			function bianhao_bx() {
				ruhurenyuan_txt = '';
				bianhao_txt = '';
				$('.btn-zu').each(function() {
					if($(this).hasClass('blue')) {
						var id = $(this).data('id');
						var yhm = $(this).data('yhm');
						var xm = $(this).text();
						//var bianhao_ls='{"id":"'+id+'","yonghuming":"'+yhm+'","xingming":"'+xm+'"}';
						if(ruhurenyuan_txt == '') {
							ruhurenyuan_txt = xm;
						} else {
							ruhurenyuan_txt = ruhurenyuan_txt + ',' + xm;
						}
						if(bianhao_txt == '') {
							bianhao_txt = id;
						} else {
							bianhao_txt = bianhao_txt + ',' + id;
						}
					}
				});
			}
			//
			$('#ruhurenyuan').on('click', function() {
				$('.mui-poppicker').addClass('mui-active');
			});
			$('.mui-poppicker-btn-cancel').on('click', function() {
				$('.btn-zu').removeClass('blue');
				//$('#ruhurenyuan').val('');
				//$('#bianhao').val('');
				$('.mui-poppicker').removeClass('mui-active');
			});
			$('.mui-poppicker-btn-ok').on('click', function() {
				$('#ruhurenyuan').val(ruhurenyuan_txt);
				$('#bianhao').val(bianhao_txt);
				$('.mui-poppicker').removeClass('mui-active');
			});

			function zf_add() {
				var zoufangqingkuang = document.getElementById("zoufangqingkuang").value;
				zoufangqingkuang = zoufangqingkuang.replace(/\s+/g, '');
				if(zoufangqingkuang == '') {
					alert('请填写入户走访情况！');
					plus.nativeUI.closeWaiting();
					return false;
				}
				var cunzaidewenti = document.getElementById("cunzaidewenti").value;
				cunzaidewenti = cunzaidewenti.replace(/\s+/g, '');
				if(cunzaidewenti == '') {
					alert('请填写入存在问题情况！');
					plus.nativeUI.closeWaiting();
					return false;
				}
				var ruhurenyuan = document.getElementById("ruhurenyuan").value;
				ruhurenyuan = ruhurenyuan.replace(/\s+/g, '');
				if(ruhurenyuan == '') {
					alert('请选择入户人员！');
					plus.nativeUI.closeWaiting();
					return false;
				}
				try {
					imgupgrade();
				} catch(e) {
					//TODO handle the exception
				}
				var zutu = document.getElementById("fangwutupian").value;
				zutu = zutu.replace(/\s+/g, '');
				if(zutu == '') {
					//	    		alert('请上传图片！');
					//	    		return false;
				}
				plus.nativeUI.showWaiting("提交中...");
				

				//$('.btn-ys1,.btn-ys2').toggle();

				var bianhao = document.getElementById("bianhao").value;
				var huhao = document.getElementById("huhao").value;
				var status = document.getElementById("status").value;
				var jiluren = document.getElementById("jiluren").value;
				var huzhuxingming = document.getElementById("huzhuxingming").value;

				var url1 = web_url() + '/?type=edit&t=zoufangjilu&id=' + localStorage.user_zf_add_sc_id;
				var data1 = 'zoufangqingkuang=' + zoufangqingkuang + '&cunzaidewenti=' + cunzaidewenti + '&zutu=' + zutu + '&ruhurenyuan=' + ruhurenyuan + '&huhao=' + huhao + '&bianhao=' + bianhao + '&jiluren=' + jiluren + '&huzhuxingming=' + huzhuxingming + '&jihuabianhao=' + localStorage.user_zf_add_sc_id + '&status=' + status + '&suoshucun=' + JSON.parse(localStorage.ubase).msg[0].suoshucun + '&suoshuzu=' + JSON.parse(localStorage.ubase).msg[0].suoshuzu + "&yonghuming=" + localStorage.yonghuming + rizi();
				console.log(url1);
				console.log(data1);
				getData(false, 'get', url1, data1, function(result) {
					mui.toast('提交成功！');
					mui.fire(webview_detailA, 'user_zf_add_sc', localStorage.yonghuming);
					mui.fire(webview_detailB, 'user_zf_add_sc', localStorage.yonghuming);
					mui.fire(webview_detailC, 'user_zf_add_sc', localStorage.yonghuming);
					mui.fire(webview_detailD, 'user_zf_add_sc', localStorage.yonghuming);
					mui.fire(webview_detailE, 'user_zf_add_sc', localStorage.yonghuming);
					mui.fire(webview_detailF, 'user_zf_add_sc', localStorage.yonghuming);
					plus.nativeUI.closeWaiting();
					mui.back();
				});
			}
		</script>
		<script type="text/javascript">
			$('.actionA').click(function() {
				$(this).find('.ck-ap').toggle();
			});
			$('.actionB').click(function() {
				$(this).find('.ck-bpA').toggle();
			});
		</script>
	</body>

</html>