<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>走访设置</title>
		<link rel="stylesheet" type="text/css" href="css/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="css/jcx.css" />
		<link rel="stylesheet" type="text/css" href="css/pullToRefresh.css" />
	</head>

	<body>
		<div class="mui-views">
			<div class="header">
				<div class="header-A1 clearfix">
					<a class="head-box head-back head-backA fl mui-action-back"></a>
					<a class="head-box head-title fr">修改排序</a>
					<div class="head-ss" style="right: 88px;">
						<div class="search pst-r">
							<div class="search-cv search-cvA"><img src="images/icon-search.png" class="search-cv-img">搜索</div>
							<div class="search-cv search-cvB" style="width: 25%;" onclick="return onKeydown()"><img src="images/icon-search0.png" class="search-cv-img" />搜索</div>
							<input type="text" class="search-input box-sizing pad-lr-10" style="padding-right: 70px;" placeholder="请输入关键词" />
						</div>
					</div>
				</div>
			</div>
			<div class="paixu" style="z-index: 999999;background: #fff;">
				<p data-type="allxingming">名称排序</p>
				<p data-type="sl_huji.menpaihao">门牌号排序</p>
				<p data-type="sl_huji.hujileixing">类型排序</p>
			</div>
			<div class="mui-views" id="app" style="height: auto;top: 44px;">

				<div class="mui-views-r box-sizing" style="padding-bottom: 35px;padding-top: 35px;">

					<div v-bind:class="[isActive ? activeClass : '', errorClass]">
						<div class="table">
							<div class="table-cell"><span class="mui-spinnerA"></span></div>
						</div>
					</div>

					<div style="z-index: 99999;position: absolute;top: 0px;left: 0px;width: 100%;">
						<div class="zf-set-head pad-lr-15 pad-tb-5 bd-btm">
							<p><span id="timetxt">X月X日</span>时间</p>
						</div>
					</div>

					<div class="mui-views-r">
						<div class="wrapper" id="wrapper">
							<ul>
								<li v-for="li in list">
									<div class="renyuan-bar pad-lr-15" >
										<div class="renyuan-p">
											<!--<input v-if="li.bl=='no'" :data-type="li.hujileixing" :data-jh_yhm="li.jh_yhm" :data-jh_id="li.jh_id" type="checkbox" class="renyuan-ck renyuan-ckA fr" :value="li.huhao" checked="checked" onclick="return xhuanzheB(this)" />
											<input v-else :data-type="li.hujileixing" type="checkbox" class="renyuan-ck renyuan-ckB fr" :value="li.huhao" onclick="return xhuanzheB(this)" />-->
											<input   :data-type="li.hujileixing" type="checkbox" class="renyuan-ck renyuan-ckB fr" :value="li.huhao" onclick="return xhuanzheB(this)" />
											<span class="ys5">{{li.allxingming}}家</span>&nbsp;&nbsp;<span class="ys4">{{li.menpaihao}}-{{li.hujileixing}}</span>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>

					<div class="zf-set-btm pst-f p-lb box-sizing" style="background: #fff;z-index: 99999;">
						<div class="zf-set-btm-btn ys1">确定</div>
						<p class="zf-set-btm-p">请选择走访人家</p>
					</div>

				</div>
			</div>
		</div>
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery-1.11.2.min.js" type="text/javascript" charset="utf-8"></script>
		<!--<script src="js/swiper.min.js" type="text/javascript" charset="utf-8"></script>-->
		<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/iscroll.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/pullToRefresh.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jcx.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			document.addEventListener('plusready', function() {
				var type = "convert(allxingming using gbk)";
				if(localStorage.huji_zf_paixu_set == undefined) {
					setParam('huji_zf_paixu_set', type);
				}
				net_yno();
			});
			var num = 20;
			var page = 1;
			var pagenum = num;
			var webview_detail = null;
			var webview_detailA = null;
			var orderby = 'asc';
			mui.init({
				swipeBack: true
			});
			mui.plusReady(function() {
				plus.nativeUI.closeWaiting();
				mui.currentWebview.show();
				webview_detail = plus.webview.getWebviewById('user_zf_jihua_list.html');
				webview_detailA = plus.webview.getWebviewById(home_id());
			});
			var app = new Vue({
				el: '#app',
				data: {
					list: [],
					isActive: false,
					activeClass: 'active',
					errorClass: 'status pst1',
				},
			});
			if(localStorage.huji_zf_paixu_set == undefined) {
				setParam('huji_zf_paixu_set', 'dtime');
			} else {
				var n = $('.paixu p').size();
				for(var i = 0; i < n; i++) {
					type = $('.paixu p').eq(i).data('type');
					if(type == localStorage.huji_zf_paixu_set) {
						$('.paixu p').eq(i).addClass('on');
					}
				}
			}

			beautyshuju(num, page, 'no', '');
			pagenum = document.getElementById("wrapper").getAttribute('data-pagenum');
			if(pagenum != '0') {
				page++;
			}

			refresher.init({
				id: "wrapper",
				pullDownAction: Refresh,
				pullUpAction: Load,
				scrollAction: Ascroll,
				scrollEndAction: AscrollEnd,
			});

			setTimeout(function() {
				var timea_num = 0;
				var timea = setInterval(function() {
					timea_num++;
					if(timea_num > 140) {
						clearInterval(timea);
					} else {
						wrapper.refresh();
					}
				}, 50);
			}, 100);

			function Refresh() {
				net_yno();
				page = 1;
				beautyshuju(num, page, 'yes', '');
				pagenum = num;
				document.getElementById("wrapper").setAttribute('data-pagenum', pagenum);
				if(pagenum != 0) {
					page++;
				}
			}

			function Load() {
				beautyshuju(num, page, 'yes', '');
				pagenum = document.getElementById("wrapper").getAttribute('data-pagenum');
				if(pagenum != '0') {
					page++;
				}
			}

			function Ascroll() {

			}

			function AscrollEnd() {

			}

			function beautyshuju(num, page, yno, u1) {
				if(localStorage.net == 'false') {
					if(localStorage.on_user_zf_set != undefined) {
						app.list = JSON.parse(localStorage.on_user_zf_set);
						document.getElementById("wrapper").setAttribute('data-pagenum', app.list.length);
					} else {
						document.getElementById("wrapper").setAttribute('data-pagenum', 0);
					}
					app.$nextTick(function() {
						if(yno != 'no') {
							setTimeout(function() {
								wrapper.refresh();
								app.isActive = true;
							}, 300);
						} else {
							setTimeout(function() {
								app.isActive = true;
							}, 300);
						}
					});
				} else {
					if(localStorage.on_user_zf_set != undefined && page == 1 && localStorage.huji_zf_paixu_set == 'dtime') {
						app.list = JSON.parse(localStorage.on_user_zf_set);
						document.getElementById("wrapper").setAttribute('data-pagenum', app.list.length);
						app.$nextTick(function() {
							if(yno != 'no') {
								setTimeout(function() {
									wrapper.refresh();
									app.isActive = true;
								}, 300);
							} else {
								setTimeout(function() {
									app.isActive = true;
								}, 300);
							}
						});
					}

					pagenum = document.getElementById("wrapper").getAttribute('data-pagenum');
					pagenum = parseInt(pagenum);
					if(pagenum >= num || page == 1) {
						//var url_a=web_url()+'/?type=search&t=huji&liemingcheng=id,hujileixing,huhao,allxingming,menpaihao&status=终审&number='+num+'&page='+page+'&suoshucun='+JSON.parse(localStorage.ubase).msg[0].suoshucun+u1+rizi()+'&ordertype=convert(allxingming using gbk)&orderby='+orderby;
						var url_a = web_url() + '/?type=hujil_div&t=huji&liemingcheng=sl_huji.hujileixing,sl_huji.huhao,sl_huji.allxingming,sl_huji.menpaihao&status=终审&number=' + num + '&page=' + page + '&sl_huji.suoshucun=' + JSON.parse(localStorage.ubase).msg[0].suoshucun + u1 + rizi() + '&ordertype=' + type + '&orderby=' + orderby;
						getData(true, 'get', url_a, '', function(result) {
							var dlist = JSON.parse(result.msg);
							if(result.msg == '') {
								if(page == 1) {
									app.list = [];
								}
								pagenum = 0;
							} else {
								//dlist=data_list(dlist);
								if(page == 1) {
									app.list = dlist;
								} else {
									extend(app.list, dlist);
								}
								pagenum = dlist.length;
							}
							document.getElementById("wrapper").setAttribute('data-pagenum', pagenum);
							setParam('on_user_zf_set', JSON.stringify(app.list));
							app.$nextTick(function() {
								if(yno != 'no') {
									setTimeout(function() {
										wrapper.refresh();
										app.isActive = true;
									}, 300);
								} else {
									setTimeout(function() {
										app.isActive = true;
									}, 300);
								}
							});
						});
					} else {
						document.getElementById("wrapper").setAttribute('data-pagenum', 0);
						wrapper.refresh();
					}
				}

			}

			function data_list(data1) {
				for(var i = 0; i < data1.length; i++) {
					var url_b = web_url() + "/?type=search&t=zoufangjihua&ordertype=dtime&orderby=desc&liemingcheng=id,yonghuming&sqlvalue=zoufangzhuangtai{like}%27{bfb}未走访{bfb}%27,suoshucun=" + JSON.parse(localStorage.ubase).msg[0].suoshucun + ",huhao=" + data1[i].huhao + rizi();
					getData(true, 'get', url_b, '', function(result) {
						if(result.msg == "[]") {
							data1[i].bl = 'yes';
						} else {
							var data = JSON.parse(result.msg)[0];
							data1[i].bl = 'no';
							data1[i].jh_yhm = data.yonghuming;
							data1[i].jh_id = data.id;
						}
					});
				}
				return data1;
			}

			$('.paixu p').click(function() {
				$(this).addClass('on').siblings('p').removeClass('on');
				$('.paixu').removeClass('on');
				type = $(this).data('type');
				if(type == 'allxingming') {
					orderby = 'asc';
					setParam('huji_zf_paixu_set', 'convert(allxingming using gbk)');
				} else {
					orderby = 'asc';
					setParam('huji_zf_paixu_set', type);
				}
				Refresh();
			});

			var shuizu = 0;
			var shuizu0 = 0;
			var shuizu1 = 0;
			var shuizu2 = 0;
			var shuizu3 = 0;
			var shuizu4 = 0;
			var xuantxt = '';
			var tipstxt = '';

			function xhuanzheB(obj) {

				if($(obj).prop('checked')) {
					shuizu++;
					var leixing = $(obj).data('type');
					if(leixing == '一般户') {
						shuizu0++;
					} else if(leixing == '放心户') {
						shuizu1++;
					} else if(leixing == '贫困户') {
						shuizu2++;
					} else if(leixing == '重点户') {
						shuizu3++;
					} else if(leixing == '其他') {
						shuizu4++;
					}

					var huhao = $(obj).val();
					if(xuantxt == '') {
						xuantxt = huhao;
					} else {
						xuantxt = xuantxt + ',' + huhao;
					}
				} else {
					shuizu--;
					var leixing = $(obj).data('type');
					if(leixing == '一般户') {
						shuizu0--;
					} else if(leixing == '放心户') {
						shuizu1--;
					} else if(leixing == '贫困户') {
						shuizu2--;
					} else if(leixing == '重点户') {
						shuizu3--;
					} else if(leixing == '其他') {
						shuizu4--;
					}
					var huhao = $(obj).val();

					var shuzu = xuantxt.split(',');
					var n = shuzu.length;
					for(var i = 0; i < n; i++) {
						if(huhao == shuzu[i]) {
							shuzu.splice(i, 1);
						}
					}
					xuantxt = shuzu.join(',');
				}
				tipstxt = '';
				if(shuizu0 > 0) {
					tipstxt = '一般户：' + shuizu0 + '；';
				}
				if(shuizu1 > 0) {
					tipstxt = tipstxt + '放心户：' + shuizu1 + '；';
				}
				if(shuizu2 > 0) {
					tipstxt = tipstxt + '贫困户：' + shuizu2 + '；';
				}
				if(shuizu3 > 0) {
					tipstxt = tipstxt + '重点户：' + shuizu3 + '；';
				}
				if(shuizu4 > 0) {
					tipstxt = tipstxt + '其他：' + shuizu4 + '；';
				}

				tipstxt = tipstxt + '总共：' + shuizu + '；';
				$('.zf-set-btm-p').text(tipstxt);
			}
			//确定
			var dtime = timeA_date_add('');
			var timetxt = timeE(dtime);
			$('#timetxt').html(timetxt);
			$('.zf-set-btm-btn').click(function() {
				net_yno();
				plus.nativeUI.showWaiting('计划添加中...');
				//del
				var dn = $('.renyuan-ckA').size();
				for(var j = 0; j < dn; j++) {
					if($('.renyuan-ckA').eq(j).prop('checked')) {
						var huhao = $('.renyuan-ckA').eq(j).val();
						var jh_yhm = $('.renyuan-ckA').eq(j).data('jh_yhm');
						var jh_id = $('.renyuan-ckA').eq(j).data('jh_id');
						var url1 = web_url() + "/?type=del&t=zoufangjihua&yonghuming=" + jh_yhm + "&id=" + jh_id + rizi();
						if(localStorage.net == 'false') {
							if(localStorage.data_edit == undefined) {
								setParam('data_edit', '{"count":0,"list":[]}');
							}
							var data_edit = JSON.parse(localStorage.data_edit);
							var edit_list = data_edit.list;
							var edit_count = parseInt(data_edit.count);
							data_edit.count = edit_count + 1;
							var edit_listA = {
								"url": url1
							};
							edit_list.push(edit_listA);
							data_edit.list = edit_list;
							setParam('data_edit', JSON.stringify(data_edit));
						} else {
							getData(true, 'post', url1, '', function(msg) {
								console.log('计划删除成功，户号：' + huhao + '，ID：' + jh_id + '，用户名：' + jh_yhm);
							});
						}
					}
				}
				//del end
				//add
				var updata = xuantxt.split(',');
				var n = updata.length;
				for(var i = 0; i < n; i++) {

					var url_b = web_url() + "/?type=search&t=zoufangjihua&ordertype=dtime&orderby=desc&sqlvalue=zoufangzhuangtai='未走访',suoshucun=" + JSON.parse(localStorage.ubase).msg[0].suoshucun + ",huhao=" + updata[i] + rizi();
					getData(true, 'get', url_b, '', function(result) {
						if(result.msg == "[]") {
							var url1 = web_url() + '/?type=add&t=zoufangjihua';
							var data1 = 'huhao=' + updata[i] + '&dtime=' + dtime + '&zoufangzhuangtai=未走访' + '&suoshucun=' + JSON.parse(localStorage.ubase).msg[0].suoshucun + '&suoshuzu=' + JSON.parse(localStorage.ubase).msg[0].suoshuzu + "&yonghuming=" + localStorage.yonghuming + rizi() + "&dtime="+timeA();
							var data_url = url1 + '&' + data1;
							if(localStorage.net == 'false') {
								if(localStorage.data_add == undefined) {
									setParam('data_add', '{"count":0,"list":[]}');
								}
								var data_add = JSON.parse(localStorage.data_add);
								var add_list = data_add.list;
								var add_count = parseInt(data_add.count);
								data_add.count = add_count + 1;
								var add_listA = {
									"url": data_url,
									"zfjh": "add",
									"jh_huhao": updata[i]
								};
								add_list.push(add_listA);
								data_add.list = add_list;
								setParam('data_add', JSON.stringify(data_add));
							} else {
								getData(true, 'post', url1, data1, function(msg) {
									console.log('计划添加成功，户号：' + updata[i]);
								});
							}
						}
					});

				}
				//add end
				mui.fire(webview_detail, 'user_zf_set', localStorage.yonghuming);
				mui.fire(webview_detailA, 'user_zf_set', localStorage.yonghuming);
				plus.nativeUI.closeWaiting();
				mui.toast('计划添加成功');
				mui.back();
			});
			$('.head-title').click(function() {
				$('.paixu').toggleClass('on');
			});

			function onKeydown() {
				net_yno();
				if(localStorage.net == 'false') {
					mui.toast('请检查网络');
					return false;
				} else {
					var bt = $('.search-input').val();
					bt = bt.replace(/\s+/g, '');
					if(bt == '') {
						u1 = '';
						//alert('请输入搜索关键字');
						//return false;
					} else {
						u1 = "&sqlvalue=sl_huji.allxingming{like}%27{bfb}" + bt + "{bfb}%27";
					}
					page = 1;
					beautyshuju(num, page, 'yes', u1);
					pagenum = document.getElementById("wrapper").getAttribute('data-pagenum');
					if(pagenum != '0') {
						page++;
					}
					$('.search-input').val('');
					$('.search').removeClass('on');
				}
			}
		</script>
	</body>

</html>